html {
  height: 100%;
  width: 100%;
  font-family: "Titillium Web", sans-serif;
}

body {
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(rgb(139, 188, 237), rgb(234, 243, 248));
}

button{
  font-size: 20px;
}

button#restbuttom{
  font-size: 20px; 
  background-color: red;
  border-radius: 5px;
  color: white;
  border: none;
}

.delete-button {
  background-color:rgb(104, 187, 246); /* Background color */
  color: white; /* Text color */
  border: none; /* Remove border */
  padding: 5px 10px; /* Adjust padding for button size */
  cursor: pointer; /* Add a pointer cursor on hover */
  border-radius: 5px; /* Rounded corners */
  font-size: 15px;
}

#main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.3);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}

#list {
  margin: 10px;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}

div#date-due{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px; 
}
